@tailwind base;
@tailwind components;
@tailwind utilities;

select:disabled {
    background-color: #2D2D2D;
    color: #6B7280;
    cursor: not-allowed;
}

select:disabled:hover {
    background-color: #2D2D2D;
    border-color: #6B7280;
}

.button-disabled {
    background-color: #2D2D2D;
    color: #6B7280;
    cursor: not-allowed;
    pointer-events: none;
    transition: background-color 1s, color 1s;
}

.button-filter-enabled {
    background: linear-gradient(to right, #3F83F8, #1C64F2, #1A56DB);
    color: #fff;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

.button-submit-enabled {
    background: linear-gradient(to right, #31C48D, #0E9F6E, #057A55);
    color: #fff;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

.chart-container {
    width: 100%;
    max-width: 100%;
    height: 600px;
}

#result-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 100%;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: none;
    background-color: none;
    box-shadow: none;
}